.nav-link > * {
    vertical-align: middle;
}

@media (min-width: 992px){
    .navbar-nav > li:not(:last-child) {
        border-right: 1px solid #eceeef !important;
    }
    .nav-item {
        flex-grow: 1;
        text-align: center;
    }
}
.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-72 {
    font-size: 108px;
}